.col-9 {
    text-align: center;
    background-color: rgba(174, 211, 227, 0.529);
    border-style: solid;
}

button {
    width: auto;
}

.col-12 {
    outline: rgb(0, 0, 0);
}

ul {
    list-style: inside;
}
li {
    margin-bottom: 1rem;
}

.card {
    background-color: rgb(84, 86, 86);
}
img {
    height: 50px;
    width: 50px;
}

.five-day {
    text-align: left;
}

#card {
    background-color: rgb(211, 211, 220);
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}