.col-9 {
    text-align: center;
    background-color: rgb(253, 255, 253);
    border-style: solid;
}

button {
    width: auto;
}

.col-12 {
    outline: rgb(0, 0, 0);
}

ul {
    list-style: inside;
}
li {
    margin-bottom: 1rem;
}

.card {
    background-color:rgb(255, 190, 25);
    border-style: solid;
}
img {
    height: 50px;
    width: 50px;
}

.five-day {
    text-align: left;
}

#card {
    border-color: rgb(0, 0, 0);
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h1 {
    background-color: rgb(255, 190, 25);
    border-style: groove;
}